<div class="container top">
    <h2 class="header text-center mb-5">SOCIAL,DIGITAL & PRINT MEDIA</h2>
    <div class="row mb-3">
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/ads.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">All Social Media Ad's</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/tv.avif"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Tv & Theatre Ad's</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/radio.webp"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Radio Ad's</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/news.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">News Paper Ad's</h5>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/offset.jpeg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Offset Printing</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/screen.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Screen Printing</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/flex.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Flex Printing</h5>
        </div>
    </div>
</div>
