<div class="row">
    <h4 class="header text-center mb-3">ABOUT US</h4>
    <div class="col-sm-8">
        <img src="https://thumbs.dreamstime.com/b/digital-transformation-technology-strategy-ideas-adoption-business-age-enhancing-global-capabilities-215266548.jpg"
            alt="oops!" height="70%" width="80%">
    </div>
    <!-- <div class="col-sm-1"></div> -->
    <div class="col-sm-3">
        <p class="">
            ADSINAP is a registered company in
            Andhra Pradesh, our traditional busi- ness
            model is based on outdoor & indoor adver-
            tisement. We in A India covering business,
            entertainment, adver- tisement, print
            media and electrical media and soon. We
            are glad that our business is expanding
            tremendously.We're passionate about what we do.
            We're here to serve our clients.
        </p>
    </div>

</div>


<div class="container">
    <h2 class="header text-center mb-5">WHY CHOOSE US?</h2>
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/img/why.jpg" height="95%" width="90%">
        </div>
        <div class="col-sm-5">
            <p>We bring our diverse background
                of advertising, design, branding, public re-
                lations, research and strategic planning to
                work for your company. Not only will your
                materials look great-they will get results.</p>
            <ul style="list-style-type:circle;text-align: justify;">
                <li>We're here to serve our clients.</li>
                <li>We respect our clients.</li>
                <li>We get to know your business.</li>
                <li>We're passionate about what we do.</li>
                <li>We strive for excellence in whatever we do.</li>
                <li>We're great to work with.</li>
                <li>We are creative, but smart too.</li>
                <li>We do the right thing.</li>
                <li>We are results-oriented.</li>
                <li>We welcome new ideas from other people.</li>
            </ul>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>