.header{
    color:#f48420;
    font-size: 35px;
    font-weight: bold;
}

.subhead {
    // color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: bold;
}
.w3-quarter .w3-card img {
    height: 150px; /* Adjust this value as needed */
    object-fit: cover; /* Maintain aspect ratio */
}

.w3-container{
    height: 250px;
    text-align: justify;
    margin-top: 1.0rem;
}

.w3-card{
    margin: 2rem 0rem;
}
p{
    text-align: justify;
}