//Background Image
.signIn-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 90, 118, 0.5);
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    h1 {
        font-size: 4rem;
        font-style: italic;
    }
}

.header {
    color: #f48420;
    font-size: 25px;
    font-weight: bold;
}
@media (max-width: 767px) {
  .card {
    margin-left: 2.8rem;
  }

}


.top{
  margin-top: 7rem;
}

//newww
$color-primary-white: rgb(240, 240, 240);

.card {
  width: 16rem;
  height: 16rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: $color-primary-white;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
 
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity .2s ease-out;
  }
}

.material-symbols-outlined {
  vertical-align: middle;
}






