<div class="top">
    <h2 class="header text-center mb-5">SIGNS ADVERTISING</h2>
    <div class="row mb-3">
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/acrylic.jpeg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Acrylic Board</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/acp.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">ACP Panel Board</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/wood.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Wood Letter Board</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/light.webp"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Acrylic Lighting Board</h5>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/led.webp"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">LED Panel Board</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/back.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Back Lit Board</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/front.webp"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Front Lit Board</h5>
        </div>
    </div>
</div>