
<section class="articles mt-5 mb-5">
    <article>
      <div class="article-wrapper">
        <figure>
            <img src="assets/img/valuee.jpg" alt="Snow" style="width:100%">
        </figure>
        <div class="article-body">
            <p>Our people enjoy a personal stake
                in your continued success and take pride
                in what we do. Honesty and respect steers
                up our management both internally and
                externally.We're here to serve our clients.
                We respect our clients.We get to know your business.
                We're passionate about what we do.
                We're great to work with.</p>
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
            <img src="assets/img/vision.jpg" alt="Lights" style="width:100%">
        </figure>
        <div class="article-body">
            <p>To be recognized as AP's leading
                and most trusted Advertising agency
                reaching everyone no matter who they
                are or where they live. Delivering results
                oriented brand marketing programs and
                public relations campaigns that enhance
                our client's awareness, improve their sales
                and faster their growth.</p>
        </div>
      </div>
    </article>
    <article>
      <div class="article-wrapper">
        <figure>
            <img src="assets/img/mission.jpg" alt="Mountains" style="width:100%">
        </figure>
        <div class="article-body">
            <p>To provide innovative and effective
                integrated brand marketing and public
                relations solutions which help our clients
                grow their businesses and realize their
                marketing goals.We strive for excellence in whatever we do.
                We welcome new ideas from other people.</p>
        </div>
      </div>
    </article>
  </section>