<div class="container top mt-5">
    <h2 class="header text-center mb-5">INDOOR ADVERTISING</h2>
    <div class="row mb-3">
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/standess.webp"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Standess</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/mall.png"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Mall Branding</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/airport.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Airport Branding</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/product.webp"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Product Display Stand</h5>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/busstand.webp"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Bus Stand Ad's</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/sandwich-boards.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Sandwich Boards</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/sunboard.jpeg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Sun Board CutOut</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/floor.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Floor Branding</h5>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/theater.webp"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Theater Indoor Ad's</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/display.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Display Brands</h5>
        </div>
    </div>
</div>