<div class="container top">
    <h2 class="header text-center mb-5">FILM PRODUCTION SERVICES</h2>
    <div class="row mb-3">
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/commercial.png"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Commercial Ad's</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/pre-wedding.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Pre-Wedding Shoot</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/product-shoot.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Product Shoot</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/documentary.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Documentary</h5>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/video.avif"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Video Albums</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/portfolio.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Protfolio Shoot</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/shortfilm.jpeg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Short Film</h5>
        </div>
    </div>
</div>